<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @cart.id %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @cart.order_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @cart.total %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cart.description %>
</p>

<p>
  <strong>Ship date:</strong>
  <%= @cart.ship_date %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
