<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <br >

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <%= form.file_field :photo, class:"form-control", id:"inputGroupFile01" %>
  </div>


  <div class="form-floating mb-3">
    <%= form.text_field :title, class:"form-control",  placeholder:"Title", id:"imgTitle" %>
    <label for="imgTitle">Title</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class:"form-control desc", placeholder:"Enter image description here", id:"imgDescription", style:"height:100px;" %>
    <label for="imgDescription">Description</label>
  </div>

  <div class="row mb-3">
      <h3>Categories</h3>
      <% Category.all.each_slice(4) do |categories_slice| %>
        <div class="col-2">
          <% categories_slice.each do |c1| %>
              <div class="form-check">
                <%= check_box_tag "image[category_ids][]", c1.id, @image.categories.include?(c1), class:"form-check-input" %>
                <label class="form-check-label" for="flexCheckDefault">
                  <%= c1.name %>
                </label>
              </div>
          <% end %>
        </div>
      <% end %>
      
    </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
