<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <br >

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <%= form.file_field :photo, class:"form-control", id:"inputGroupFile01" %>
  </div>


  <div class="form-floating mb-3">
    <%= form.text_field :title, class:"form-control",  placeholder:"Title", id:"imgTitle" %>
    <label for="imgTitle">Title</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class:"form-control desc", placeholder:"Enter image description here", id:"imgDescription", style:"height:100px;" %>
    <label for="imgDescription">Description</label>
  </div>
  <div class="row mb-3">
    <div class="col-sm-2">
      <%= form.number_field :user_id, id: :image_user_id, value: current_user.id, type: :hidden %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
