<div class="row mb-2">
  <h1>Images
    <% if @image_user %>
      <span>by <%= @image_user.email %> </span>
    <% end %>
    <% if @category %>
      <span>in category <%= @category.name %> </span>
    <% end %>
  </h1>
</div>

<!-- Gallery -->
<div class="row">
  <% @images.each_slice(2) do |image1, image2| %>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <%   if image1 %>
        <%= link_to image1 do %>
          <%= image_tag image1.photo.variant(resize_to_limit: [475, nil]).processed, class:"w-100 shadow-1-strong rounded mb-4" %>
        <% end %>
      <% end %>
      <% if image2 %>
        <%= link_to image2 do %>
          <%= image_tag image2.photo.variant(quality: 70).processed, class:"w-100 shadow-1-strong rounded mb-4" %>
        <% end %>      
      <% end %>
    </div>
  <% end %>
</div>

