<div class="row justify-content-center flex-nowrap" style="margin-top:3rem">
  <div class="col-3">
    <div class="row">
      <h1 class="img-title">
        <%= @image.title %>
      </h1>
    </div>
    <hr>
    <div class="row" >
      <p class="desc">
        <%= @image.description %>
      </p>
    </div>

    
    <div class="row mb-3">
      <div class="col">
          <%= link_to "Download High Resolution", rails_blob_path(@image.photo.blob, disposition: "attachment"), class:'btn btn-primary btn-large' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= link_to "Download Low Resolution", rails_representation_url(@image.photo.variant(resize_to_limit: [475, nil], quality: 70), disposition: "attachment"),download: '', class:'btn btn-primary btn-large' %>
          
        </div>
    </div>

    <div class="row mb-3 flex-nowrap">
      <h5 style="width: max-content;">Image by:</h5>
      <span>
        <%= link_to @image.user.email, images_user_path_url(:id => @image.user.id), class:"badge badge-pill badge-info"%>
      </span>
    </div>

    <div class="row mb-3">
      <h5>Featured in:</h5>
      <div class="col">
            <% @image.categories.each do |category| %>
                <%= link_to category.name, category_image_url(:category => category.id), class:"badge badge-dark"%>
            <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="img-holder" style="background-image: url(<%= url_for(@image.photo.variant(resize_to_limit: [475, nil], quality: 70).processed) %>);">
    </div>
  </div>
  
</div>


<% if current_user && current_user.id == @image.user_id  %>
  <div class="row justify-content-start">
    <div class="col-2">

      <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
      <%= link_to 'Edit', edit_image_path(@image), class:'btn btn-primary' %>  
    </div>
  </div>
<% end %>